<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Bem-vindo à Votação de Produtos</h1>
        <p>Por favor, escolha uma opção:</p>
        <ul>
            <li><a href="{{ url_for('login', role='MASTER') }}">Cadastro de Produtos (Login Master)</a></li>
            <li><a href="{{ url_for('login', role='VENDEDOR') }}">Votação (Login Vendedor)</a></li>
        </ul>
    </div>
</body>
</html>
